.button{
    height: 4rem;
    width: 4rem;
margin: 2px;
border: none;

  
  font-size: x-large;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 3px silver ;
  
}

.button:active{
  background-color: aliceblue !important;
  box-shadow: none;
  opacity: 1;
}